---
import "../styles/global.css";
import Head from "../components/Head.astro";
import '@fontsource/combo';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
                <Head />
	</head>
	<body class="min-h-screen w-full bg-neutral-900 flex flex-col justify-center items-center space-y-8 font-mono text-sm md:text-base px-8 md:px-0">
            <div class="space-y-4 max-w-[450px]">
                <h1 class="font-display text-white text-6xl font-bold">commissions</h1>
                <p class="text-neutral-500">open</p>
                <p class="text-neutral-300">
                i'd be happy to make your idea come to reality! please message me on discord (peony) and i'm sure we can sort something out! 😸<br /><br />
                i can do: fullstack development, app development, game modding or provide advice/help with whatever you're making! i can also help you design the interface for your application! i'm most fluent in c++ and rust, but i know plenty more languages!<br /><br />
                my rates are fairly flexible. please do keep in mind that i'm a college student, so i won't be able to do incredibly large scale projects on short notice.<br /><br />
                my portfolio is the projects i've made. on the main page i've listed a few great ones, but for other things feel free to go through my github contributions <a href="https://github.com/peonii" class="underline">here!</a><br /><br />
                my timezone is CET and i'm based in the netherlands. i speak polish and english. reach out on discord and let's talk!
                </p>
            </div>

            <a href="/" class="underline text-neutral-300 w-full max-w-[450px]">go back home</a>

            <p>🐳</p>
	</body>
</html>
