---

---

<title>nat!</title>
<meta name="description" content="hi!! i'm nat!" />

<meta property="og:title" content="nat!" />
<meta property="og:description" content="hi!! i'm nat!" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://nat.fyi" />
<meta property="theme-color" content="#ffffff" />
